html {
  background: #fefefe;
  color: #101010;
  font-family: 'Rosario', sans-serif;
  color: #101010; }

header {
  display: flex; }

header h2 {
  font-size: 85%;
  margin-top: -1.5em;
  margin-left: 1em;
  color: #808080; }

a {
  color: #909090;
  text-decoration: none; }

p {
  font-size: 1.1em;
  line-height: 1.6em; }

nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -15px; }
  nav a {
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: color .2s ease; }
    nav a.active {
      color: #101010;
      text-decoration: underline; }
    nav a:hover {
      color: #101010;
      text-decoration: underline; }

img {
  max-width: 100%; }

footer {
  text-align: center;
  color: #aaa;
  margin: 23px 0; }

.wrap {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1200px; }

header h1 a {
  text-decoration: none;
  color: #101010; }

.text-width {
  max-width: 1000px;
  margin: 0 auto; }

.gallery-front {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .gallery-front li {
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 300px;
    margin: 10px;
    box-sizing: border-box;
    max-width: 450px; }
    .gallery-front li:before {
      content: '';
      padding-top: 100%;
      display: block;
      float: left; }
    .gallery-front li.spacer {
      height: 0;
      margin-top: 0;
      margin-bottom: 0; }
      .gallery-front li.spacer:before {
        padding: 0; }
    .gallery-front li a {
      display: block;
      width: 100%;
      height: 100%;
      transition: background .2s ease; }
      .gallery-front li a:hover {
        background: rgba(255, 255, 255, 0.3); }

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .gallery li {
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 200px;
    margin: 10px;
    box-sizing: border-box;
    max-width: 450px; }
    .gallery li:before {
      content: '';
      padding-top: 100%;
      display: block;
      float: left; }
    .gallery li.spacer {
      height: 0;
      margin-top: 0;
      margin-bottom: 0; }
      .gallery li.spacer:before {
        padding: 0; }
    .gallery li a {
      display: block;
      width: 100%;
      height: 100%;
      transition: background .2s ease; }
      .gallery li a:hover {
        background: rgba(255, 255, 255, 0.3); }

.caption {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0;
  z-index: 999; }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 999;
  display: none;
  background-color: rgba(0, 0, 0, 0.81);
  padding: 20px; }
  .overlay .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1.5em; }
  .overlay .close, .overlay .next, .overlay .prev {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 1px #000;
    z-index: 9999; }
  .overlay .prev, .overlay .next {
    position: absolute;
    top: 50%;
    font-size: 3.5em;
    text-align: center;
    display: none; }
  .overlay .prev {
    left: 30px; }
  .overlay .next {
    right: 30px; }
  .overlay img {
    margin: 0 auto;
    display: block;
    max-height: 100%; }

.cache {
  display: none; }

body.overlay-active {
  overflow: hidden; }
  body.overlay-active .overlay {
    display: block; }

.split-content {
  display: flex;
  flex-wrap: wrap; }
  .split-content .side-content {
    flex: 1 0 300px;
    order: 2;
    display: flex;
    align-items: center; }
    .split-content .side-content p:first-child {
      margin-top: 0; }
    .split-content .side-content div {
      margin-left: 25px; }
  .split-content .side-photo {
    display: flex;
    align-items: center;
    flex: 0 1 200px;
    margin: 0 20px 30px 0; }
    .split-content .side-photo img {
      display: block;
      margin: 0 auto;
      height: 100%; }

form {
  max-width: 600px; }

input, select, textarea {
  border-radius: 6px;
  background: #fff;
  font-family: 'Rosario', sans-serif; }
  input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 2px #fff; }

input[type="submit"] {
  background: #fff;
  cursor: pointer;
  border: 1px solid #666;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-flex;
  align-items: flex-end;
  margin: 0;
  font-size: .8em; }
  input[type="submit"]:hover {
    background: #909090; }

input[type="submit"] {
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2em; }

input[type="text"], input[type="email"], textarea {
  display: block;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #666;
  resize: none; }

textarea {
  height: 150px; }

label {
  margin: 20px 0 5px 0;
  display: block; }

legend {
  display: none; }

.contain {
  border: 0;
  background: 0;
  padding: 0;
  margin: 0; }
  @media (min-width: 450px) {
    .contain {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .contain .split {
        flex: 1;
        margin: 0 10px 0 0; }
        .contain .split + .split {
          margin: 0 0 0 10px; } }

select {
  width: 100%;
  height: 43px;
  background: #fff;
  border-color: rgba(0, 0, 0, 0);
  font-size: 1em; }

.editor-link {
  display: none;
  margin-top: 0;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  background-color: #f7e064;
  color: #333;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); }
  .editor-link:hover {
    background-color: #f4d525;
    color: #333; }

.cms-editor-active .editor-link {
  display: block; }
